<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992177862405-u8kj1ou71lse9850pm8njlgdnf5vf1cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992177862405-u8kj1ou71lse9850pm8njlgdnf5vf1cq</string>
	<key>API_KEY</key>
	<string>AIzaSyBTsBdzqQb3Ynpnm2WRGig2O18uxGSNH10</string>
	<key>GCM_SENDER_ID</key>
	<string>992177862405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aabotech.Musgravite</string>
	<key>PROJECT_ID</key>
	<string>musgravite-001</string>
	<key>STORAGE_BUCKET</key>
	<string>musgravite-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992177862405:ios:7a3d64118322511c</string>
	<key>DATABASE_URL</key>
	<string>https://musgravite-001.firebaseio.com</string>
</dict>
</plist>